body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  /* overflow-x: hidden; */
}
#root {
  width: 100vw;
  height: 100vh;
}
.overlay-bg {
  position: fixed;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
  height: 100vh;
  filter: blur(3px);
  z-index: -1;
}
.overlay-color {
  position: fixed;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: multiply;
  opacity: 0.8;
  background: linear-gradient(90deg, #14278e 0%, #36bbea 47%, #f041a0 100%);
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
